<h1>List Apartments</h1>
<div *ngIf="listApartments.length>0 else alt">
<div *ngFor="let A of listApartments">

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">{{A.appartNum}}</h5>
          <p class="card-text">{{A.description}}</p>
          <!-- <a [routerLink]="['/apartments',R.id]" class="btn btn-primary">Show apartments</a> -->
        </div>
      </div>

</div>
</div>
<ng-template #alt>
  <h2>No apartments found</h2>
</ng-template>